html,
body {
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
    overflow: hidden;

    scroll-behavior: smooth;

    background-color: #ffffff;

    display: flex;

    font-size: 16px;

    font-family: "Fira Code";

    user-select: none;
}

td {
    padding: 0;
}

p {
    margin: 0;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #C1C1C1;
}

#top-wrapper {
    width: 100%;
    height: 100%;
}

#wrapper {
    width: 100%;
    height: 100%;
    position: fixed;

    z-index: 0;
    top: 66px;

    padding-bottom: 400px;
}

#top-side {
    width: 100%;
    min-height: 31px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    position: fixed;

    z-index: 1000;
}

#top-bar {
    /*background-image: url("imgs/top-side.png");*/
    height: 31px;
    display: flex;

    background-color: #ffffff;

    font-size: 14px;
}

.title-menu-item {
    background-color: #ffffff;
    color: #505050;

    text-align: center;
    padding-top: 6px;
}

.title-menu-item:hover {
    background-color: #C1C1C1;
}

#file-menu {
    width: 45px;
    padding-right: 4.5px;
    padding-left: 4.5px;
}

#edit-menu {
    width: 60px;
    padding-right: 4.5px;
    padding-left: 4.5px;
}

#view-menu {
    width: 30px;
    padding-right: 5px;
    padding-left: 5px;
}

#win-menu {
    width: 45px;
    padding-right: 4px;
    padding-left: 4px;
}

#open-files-bar-cont {
    height: 35px;

    background-color: #3D3D3D;
}

#open-files-bar {
    height: 100%;

    border-spacing: 0;
    border: 0;
}

/*.open-files-bar-wrapper {

}*/

.open-files-bar-cont {
    text-align: center;
    max-width: 250px;
    min-width: 150px;

    padding-top: 7px;
    padding-bottom: 7px;

    height: 100%;
}

.open-files-bar-cont-closer {
    height: 9.92px;
    width: 10px;
    background-image: url("imgs/file-closer.png");

    margin-top: 5px;
}

.open-files-bar-cont:hover{
    background-color: #C1C1C1;
}


#top-side-cap {
    width: 100%;
    height: 68px;
}

#minus-btn, #rect-btn, #close-btn {
    width: 40px;
    height: 31px;
}

#minus-btn {
    background-image: url("imgs/minus-btn-1.png");
    position: absolute;
    right: 80px;
}

#minus-btn:hover {
    background-image: url("imgs/minus-btn-2.png");
}

.rect-btn-min {
    background-image: url("imgs/rect-btn-1.png");
    position: absolute;
    right: 40px;
}

.rect-btn-min:hover {
    background-image: url("imgs/rect-btn-2.png");
}

.rect-btn-max {
    background-image: url("imgs/rect-btn-1-max.png");
    position: absolute;
    right: 40px;
}

.rect-btn-max:hover {
    background-image: url("imgs/rect-btn-2-max.png");
}

#close-btn {
    background-image: url("imgs/close-btn-1.png");
    position: absolute;
    right: 0px;
}

#close-btn:hover {
    background-image: url("imgs/close-btn-2.png");
}

#text-field {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    background-color: #ffffff;

    white-space: nowrap;

    overflow-x: scroll;

    overflow-y: scroll;

    
}

#form {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

::selection {
    background: #afafaf;
}

#hidden-field {
    font-size: 17px;
    height: 0;

    background-color: #ffffff;
    color: #272727;

    z-index: 0;

    resize: none;
    outline: none;
    border: 0;
    position: absolute;
    left: -100px;
    top: -100px;
}

#field {
    width: 100%;
    height: 100%;

    resize: none;
    border: 0;
    outline: none;
    background-color: #ffffff;
    color: #272727;
    overflow-y: hidden;
    overflow-x: scroll;

    caret-color: #3e9eba;

    user-select: text;

    font-size: 17px;

    font-family: "Fira Code";

    z-index: 1000;
}

#column-table {
    width: 55px;
    height: auto;
    border: 0;

    border-spacing: 0;

    padding-right: 15px;
    padding-left: 5px;

    font-size: 17px;
}

.column-item {
    color: #3e9eba;
    text-align: right;
}

#column {
    width: 55px;
    height: 100%;
    background-color: #ffffff;
}
